<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="NoticeUploadContainer">
    <!-- 공지사항 등록 화면 -->
    <form th:action="@{/uploadnotice}" th:object="${noticeRequest}" method="POST">

        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        
        <!-- 공지사항 제목 (DB에 들어갈 거) -->
        <div class="noticeBox">
        	<label for="noticeTitle" class="form-label">제목</label>
        	<input type="text" th:field="*{title}">
        </div>
        
        <!-- 내용 -->
        <div class="content-body">
        	<div class="form-group">
        		<label for="noticeContent"><b>내용</b></label>
        		<!-- ToastUiEditor -->  
        		<div id="editor"></div>
        		<!-- TOAST UI Editor 생성 JS code -->
    			<script>
        			const editor = new toastui.Editor({
           				el: document.querySelector('#editor'),
            			previewStyle: 'vertical',
            			previewHighlight: false,
            			height: '560px',
            			initialValue: '공지사항의 상세 내용을 입력해주세요.'
        			});
        			
        			editor.getMarkdown();
    			</script>
        	</div>
        </div>
        
        <!-- 등록하기 버튼 -->
        <button type="submit" class="btn btn-primary">등록하기</button>
  
	</form>
</div>
</html>
