<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="NoticeUploadContainer">
	<script type="text/javascript" th:src="@{/notice_updateJS.js}"></script>
	<!-- 공지사항 등록 화면 -->
	<form th:action="@{'/notice/update/' + ${id}}" th:object="${noticeRequest}" method="POST">

		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		
		<div class="noticeBox">
			<label for="noticeTitle" class="form-label">제목</label> 
			<input id ="title" name="title" type="text" th:value="${title}">
		</div>

		<div class="NoticeBox">
			<label class="form-label">내용</label>
			
			<!-- Toast Ui Editor가 들어갈 태그-->  
        	<div id="editor"></div>
        	
        	<!-- 에디터 내용을 받을 태그-->
    		<textarea id="noticeContent" name="content" style="display: none;" th:field="*{content}"></textarea>
			
			<!-- TOAST UI Editor 생성 JS code -->
			<script>
				
        		const editor = new toastui.Editor({
            		el: document.querySelector('#editor'),
            		toolbarItems: [
					    ['heading', 'bold', 'italic', 'strike'],
					    ['hr'],
					    ['ul', 'ol', 'task'],
					    ['table', 'link']
					],
            		previewStyle: 'vertical',
            		previewHighlight: false,
            		height: '560px',
            		initialValue: `[[${noticeDetail.renderedContent}]]`
        		}); 
        		

    		</script>
			
			</div>

	</form>
		<button type="submit" class="btn btn-primary" id="submitBtn">수정하기</button>
</div>
</html>
