<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="NoticeUploadContainer">
	<!-- 공지사항 등록 화면 -->
	<form th:action="@{'/notice/update/' + ${id}}" th:object="${noticeRequest}" method="POST">

		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="noticeBox">
			<label for="noticeTitle" class="form-label">제목</label> 
			<input name="title" type="text" th:field="*{title}">
		</div>

		<div class="NoticeBox">
			<label class="form-label">내용</label> 
			<textarea name="content" th:field="*{content}"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">수정하기</button>
	</form>
</div>
</html>
