<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="NoticeUploadContainer">
    <!-- 공지사항 등록 화면 -->
    <form th:action="@{/uploadnotice}" th:object="${noticeRequest}" method="POST">

        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        
        <!-- 공지사항 제목 (DB에 들어갈 거) -->
        <div class="noticeBox">
        	<label for="noticeTitle" class="form-label">제목</label>
        	<input type="text" th:field="*{title}">
        </div>
        
        <!-- 내용 -->
        <div class="content-body">
        	<div class="form-group">
        		<label for="noticeContent"><b>내용</b></label>
        		<!-- ToastUiEditor -->  
        		<div id="editor"></div>
        		<!-- TOAST UI Editor 생성 JS code -->
    			<script>
        			const editor = new toastui.Editor({
           				el: document.querySelector('#editor'),
            			previewStyle: 'vertical',
            			previewHighlight: false,
            			height: '560px',
            			initialValue: '공지사항의 상세 내용을 입력해주세요.'
        			});
        			
        			 // 사용자가 입력한 값을 서버로 전송하는 함수
        	        function postNoticeContent() {
        	            var content = editor.getHtml();
        	            
        	            console.log(content); // 콘솔에 값을 출력하여 확인합니다.
        	            
        	            var xhr = new XMLHttpRequest();
        	            xhr.open('POST', '/uploadnotice', true);
        	            xhr.setRequestHeader('Content-Type', 'application/json');
        	            
        	            xhr.onload = function () {
        	                if (xhr.status === 200) {
        	                    console.log(xhr.responseText);
        	                } else {
        	                    console.error(xhr.statusText);
        	                }
        	            };
        	            
        	            xhr.send(JSON.stringify({ content: content }));
        	        }
    			</script>
        	</div>
        </div>
        
        <!-- 등록하기 버튼 -->
        <button type="submit" class="btn btn-primary">등록하기</button>
  
	</form>
</div>
</html>
