@charset "UTF-8";
.guideContainer{
	width: 65%;
	margin: auto;
}
#mggGuide{
	font-family: 'PyeongChangPeace';
	font-size: 100px;
	color: #1B1B1C;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 160px;
}

.guideStep {
	font-family: 'PyeongChangPeace_light';
	color: #1B1B1C;
	text-align: center;
}

#stepImg1,#stepImg3 {
	width: 700px;
	height: 400px;
	float:left;
}

#stepImg2, #stepImg4 {
	width: 700px;
	height: 400px;
	float:right;
}
#step2 text, #step3 text{
	float:right;
}

.guideContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
}
.text{
	font-family: 'PyeongChangPeace';
	font-size: 40px;
}


