@charset "UTF-8";

.brandBox {
    flex-basis: 0;
    flex-grow: 1;
	align-items: center;
	flex-flow: nowrap;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #FEF8EA;
    margin-bottom: 5px;
    margin-top: 5px;
}

.brandContentWrapper {
 	display: contents;
 	justify-content: space-between;
 	width: 100%;
}

.brandContent {
   flex-grow: 1;
   text-align: center;
}

#text {
	display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 21px;
    text-align: left;
    font-family: 'Dung';
    color: #1B1B1C;
    font-size: 22px;
}

/* 먹골골 로고 png 파일*/
#logo {
	width: 270px;
	height: 160px;
	padding: 10px;
	margin-left: 28px;
}

#signInUp {
	display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 27px;
}

#signDivider {
	font-family: 'Dung';
	font-size: 25px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 4px;
    color: #1B1B1C;
}

#loginButton, #signupButton {
	font-family: 'Dung';
	font-size: 25px;
	text-decoration: none;
    color: #1B1B1C;
}

#signupButton:hover {
    color: #EE3898;
}

#loginButton:hover {
    color: #EE3898;
}

/* 네비게이션 바 */
.navbar {
	padding: 0px;
	background-color: #1B1B1C;
	--bs-navbar-hover-color: #EE3898;
}

.navbar-collapse {
    flex-basis: 0;
    flex-grow: 1;
	align-items: center;
	flex-flow: nowrap;
}

.navbar-nav {
	--bs-nav-link-color: #FEF8EA;
	display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0rem 0rem;
}

.navbar-nav .nav-item {
    flex-grow: 1;
    text-align: center;
    font-family: 'Dung';
    font-size: 40px;
}

body {
    background-color: #FEF8EA;
}
