h2 {
    font-family: 'NanumMyeongjo_Bold';
    text-align: center;
	color: #006243;
}

h1 {
    text-align: center;
    border-bottom: 2.5px solid #006243;
}

img {
	width: 330px;
	height:220px;
}

#MainPageContainer{
	width: 100%;
	border-top: 2.5px solid #006243;
	
}
/*지역 선택 리스트*/
#SelectBox{
	padding-top:16px;
	width:80%; 
	border: 1px solid black;
	margin: auto;
	display: table;/*부모높이 자동 조절 (부모에 넣어야하는 값)*/
	
}
#MapContainer{
	float: left;
	border: 1px solid black;
	display: table-row;/*부모높이 자동 조절 (자식에 넣어야하는 값)*/
	margin: 8px;
}
#sigunguList{
	height: 300px;
	float: left;
	border: 1px solid black;
	padding: 18px;
	display: table-row;/*부모높이 자동 조절 (자식에 넣어야하는 값)*/
	margin: 8px;
} 
#sigunguTable{
	overflow:hidden;
}
#sigunguTable tr{
	border: 1px solid black;
}
#sigunguTable tr td{
	border: 1px solid black;
}
/*먹자골목 리스트*/
#mggList{
	border: 1px solid black; 
	width:80%;	
	display: table;/*부모높이 자동 조절 (부모에 넣어야하는 값)*/
	margin: auto;
	margin-top:32px;

}
#meoggolgolTable{
	display: table-row;/*부모높이 자동 조절 (자식에 넣어야하는 값)*/
}