@charset "UTF-8";

/* MainPageContainer */
.parent {
	width: 100%;
	/*부모높이 자동 조절 (자식에 넣어야하는 값)*/
	display: table;
	text-align: left;
}

.parentInner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/* SelectBox */
.parentContent {
	padding-top: 16px;
	/*부모높이 자동 조절 (자식에 넣어야하는 값)*/
	display: table;
	display: inline-block;
}

/* MapContainer &sigunguList */
.child {
	float: left;
	height: 905px;
	width: 800px;
	margin-left: 35px;
	margin-right: 35px;
	border: 6px dashed #1B1B1C;
}

.child2 {
	float: left;
	height: 905px;
	width: 800px;
	margin-left: 35px;
	margin-right: 35px;
	border: 6px dashed #1B1B1C;
}

@media (max-width: 1774px) {
  .parentContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .child {
    float: none;
    margin: 0 auto;
  }
  
  .child2 {
    float: none;
    margin: 0 auto;
    margin-top: 16px;
  }
}

#sigunguList {
	padding: 16px;
	font-family: 'PyeongChangPeace';
	font-size: 35px;
	color: #1B1B1C;
}

/* 시군구 리스트 속 span 태그*/
#sigunguListSpan {
	font-family: 'Dung' !important;
	font-size: 20px !important;
	width: 30%;
	padding: 2px;
	margin: 12px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	border: 3px solid #1B1B1C;
	border-radius: 5px;
	transition: 0.3s ease;
	transition: transform 0.5s ease, background-color 0.5s ease;
}

#sigunguList:hover .sigunguListSpan:not(:hover) {
	transform: scale(0.9);
	opacity: 0.5;
}

#sigunguListSpan:hover {
	width: 30%;
	background-color: #6699CC;
	transform: scale(1.1);
	z-index: 1;
	opacity: 1;
}

#sigunguTable {
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: left;
}

#sigunguTableParent {
	width: 100%;
	height: 100%;
}

#selectSigungu {
	text-align: center;
	margin-bottom: 5px;
}

/* 먹자골목 리스트 제목*/
h2 {
	font-family: 'Dung';
	text-align: center;
	color: #1B1B1C;
}

/*먹자골목 리스트*/
#mggList {
	border: 1px solid #1B1B1C;
	width: 1680px;
	display: table;
	margin: auto;
	margin-top: 32px;
	transition: width 0.5s ease-out;
}

/* #meoggolgolTable{
	부모높이 자동 조절 (자식에 넣어야하는 값)
	display: table-row;
} */
#streetName {
	padding: 5px;
	margin: 5px;
	display: inline-block;
	border: 1px solid #1B1B1C;
}

#streetAddress {
	padding: 5px;
	margin: 5px;
	display: inline-block;
	border: 1px solid #006243;
}

#banner {
	margin-bottom: 35px;
}

p {
	margin-bottom: 0px;
}