#qwqw{
	height: 700px;
}
#koreaMap{
	float: left;
	width: 500px;
	border: 1px solid black;
}
#sigunguList{
	float: left;
	border: 1px solid black;
	padding: 18px;
} 
#sigunguList table tr{
	border: 1px solid black;
}
#sigunguList table tr td{
	border: 1px solid black;
}
#mggList{
	display: block;
	border: 1px solid black; 

}