@charset "UTF-8";

#mggInfoBoox {
	width: 80%;
	display: table;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}
.selectMgg {
	height: 500px;
	width: 500px;
	border: 1px solid black;
	align-content: center;
}