@charset "UTF-8";

/* Map */
.map {
	width: 80%;
	/*부모높이 자동 조절 (자식에 넣어야하는 값)*/
	display: table;
    text-align: left;
}

/*  */
.selectMgg {
	float: left;
	height: 500px;
	width: 400px;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid black;
	align-content: center;
}
