@charset "UTF-8";

#mggInfoBoox {
	width: 80%;
	display: table;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}

/*  */
.selectMgg {
	height: 500px;
	width: 500px;
	border: 1px solid black;
	align-content: center;
}

#restaurantListBox {
	width:80%;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin:auto;
	margin-top: 16px;
}
.restaurant-card{
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 8px;
}

#loading {
	align-content: center;
	height: 250px;
	width: 90%;
	border: 1px solid #006243;
	margin: auto;
	display: block;
	
}