@charset "UTF-8";

#NoticeDetailContainer {
  height: 70%;
}

#noticeList {
	width: 1300px;
	margin-left:auto; 
    margin-right:auto;
    border-collapse : collapse;
}

div.toastui-editor-contents {
    font-size: 30px;
}

div#textBox{
	text-align: right;
}

#submitBtn{
	float: right;
	
}