<html layout:decorate="~{layout}">
    <div layout:fragment="content" id="SignInPageContainer">
    
    <link rel="stylesheet" type="text/css" th:href="@{/loginStyle.css}">
    
        <form id ="loginForm"th:action="@{/signin}" th:object="${memberSignIn}" method="POST">
		
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="signInBox">
                <label for="userid" class="form-label">ID</label> 
                <input type="text" th:field="*{member_id}">
            </div>

            <div class="signInBox">
                <label for="password" class="form-label">PW</label>
                <input type="password" th:field="*{member_pw}">
            </div>
			<input  type="hidden"th:field="*{backPageUrl}" readonly="readonly">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</html>
