<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="qnaUploadContainer">
	<!-- qna 수정 화면 -->
	<form th:action="@{'/qna/update/' + ${id}}" th:object="${qandA}" method="POST">

		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="noticeBox">
			<label for="noticeTitle" class="form-label">제목</label> 
			<input name="title" type="text" th:value="${title}">
		</div>

		<div class="NoticeBox">
			<label class="form-label">내용</label>
			<textarea name="content" th:text="${content}"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">수정하기</button>
	</form>
</div>
</html>