<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="qnaContainer">
    <table class="table" id="noticeList">
	    <tr th:each="qna : ${qnaDetailList}">
	        <td id="qa_num" th:text="${qna.qa_num}"></td>
	        <td th:text="${qna.writer}"></td>
	        <td th:text="${qna.title}"></td>
	        <td th:text="${qna.content}"></td>
	        <td th:text="${qna.reg_date}"></td>
	        <td th:if="${session.member_info != null}">
		        <a th:if="${session.member_info.member_nickname == qna.writer}" class="btn btn-primary" th:href="@{'/qna/detail/update/' + ${qna.qa_num}}" th:text="수정"></a>
			    <button th:if="${session.member_info.member_nickname == qna.writer}" id="qnadelete" class="btn btn-danger" onclick="deleteqna();">삭제</button>
		    </td>
	    </tr>
    </table>
	<div class="card my-4">
		<h5 class="card-header">Comment:</h5>
	<div class="card-body">
			<form name="comment-form" method="post" autocomplete="off">
				<div class="form-group">
					<textarea name="content" class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-primary" onclick="reply(this.form);">Submit</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
  $(document).ready(function() {
    $('#noticeList > tr').hide();
    $("#noticeList > tr").slice(0, 1).show();
    $("#load").click(function(e) {
      e.preventDefault();
      $("#noticeList > tr:hidden").slice(0, 1).fadeIn(200);
      if ($("#noticeList > tr:hidden").length === 0) {
        $(this).fadeOut(100);
      }
    });
  });
</script>
    <table class="table" id="qnaList">
	    <tr th:each="reply : ${qnaReply}">
	        <td th:id="r_num" th:text="${reply.comment_num}"></td>
	        <td th:text="${reply.writer}"></td>
	        <td th:text="${reply.comment}"></td>
	        <td th:text="${reply.reg_date}"></td>
	        <td th:id="r_qa_num" th:text="${reply.qa_num}"></td>
	        <td th:if="${session.member_info != null}">
		        <a th:if="${session.member_info.member_nickname == reply.writer}" class="btn btn-primary" th:href="@{'/qna/reply/detail/update/' + ${reply.qa_num} + '/' + ${reply.comment_num}}" th:text="수정"></a>
		        <a th:if="${session.member_info.member_nickname == reply.writer}" class="btn btn-danger" th:href="@{'/qnaReply/detail/' + ${reply.qa_num} + '/' + ${reply.comment_num} + '/delete'}" th:text="삭제"></a>
	        </td>
	    </tr>
    </table>
    <a href="#" id="load">MORE</a>
</div>
</div>
</html>