<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="AboutContainer">

<!-- About -->
<link rel="stylesheet" href="about/about.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="about/bootstrap.min.css">
<link rel="stylesheet" href="about/animate.min.css">
<link rel="stylesheet" href="about/owl.carousel.min.css">
<link rel="stylesheet" href="about/owl.theme.default.min.css">
<link rel="stylesheet" href="font/icomoon/style.css">
<link rel="stylesheet" href="font/feather/style.css">
<link rel="stylesheet" href="font/flaticon/font/flaticon.css">
<link rel="stylesheet" href="about/jquery.fancybox.min.css">
<link rel="stylesheet" href="about/aos.css">
<link rel="stylesheet" href="about/style.css">

	<div class="custom-hero" id="setion1">
    <div class="container">
    
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-heading" id="aboutTop">전국 모든 먹자골목 정보를 한 번에!</h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text" id="topSubText">Your Ultimate Guide to Food Streets<br>Across the Country!</p>
        </div>
      </div>
    </div>
    <div id="waveDivider">
      	<img alt="" src="/wave1.png">
    </div>
  </div>
  
  <div class="section" id="section2">
    <div class="container" id="whatWeDo">
      <div class="row justify-content-around align-items-center">
      
        <div class="col-lg-6 order-lg-2">
          <div class="image-stack-v2">
            <div class="image-stack__item image-stack__item--top">
              <div data-jarallax-element="-100" class="jarallax">
                <img src="images/img_v_7-min.jpg" alt="Image" class="img-fluid">
              </div>
            </div>
            <div class="image-stack__item image-stack__item--bottom">
              <img src="images/img_v_5-min.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
        
        <div class="col-lg-4">

          <h2 class="mb-4">What We Do</h2>
          <div class="line my-3"></div>
          <p>먹골골은 전국의 모든 먹자골목 정보를 통합하여 종합적인 서비스를 제공하는 웹사이트입니다. 맛집 검색의 모든 과정을 먹골골 사이트에서 간편하게 해결해 드립니다.</p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
    </div>
    <div>
    	<img alt="" src="/wave2.png">
    </div>
  </div>

  <div class="site-section slider-team-wrap">
    <div class="container">

      <div class="row mb-5 align-items-center">
        <div class="col-md-6">
          <h2 class="font-weight-bold">Our Awesome Team</h2>
          <div class="line my-3 me-auto"></div>
        </div>
        <div class="col-md-6 text-left text-md-right">
          <div class="slider-nav">
            <a href="#" class="js-prev js-custom-prev-v2"><span class="icon-arrow_back"></span></a>
            <a href="#" class="js-next js-custom-next-v2"><span class="icon-arrow_forward"></span></a>

          </div> <!-- /.slider-nav -->
        </div>
      </div>

      <div class="slider-team owl-carousel no-nav owl-3-slider">
        <div class="team">
          <div class="pic">
            <img src="images/person_1-min.jpg" alt="Image" class="img-fluid">
          </div>
          <h3 clas><a href="#"><span class="">Jeremy</span> Walker</a></h3>
          <span class="d-block position">CEO, Founder, Atty.</span>
          <p>Separated they live in.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
        </div>
        <div class="team">
          <div class="pic">
            <img src="images/person_2-min.jpg" alt="Image" class="img-fluid">
          </div>
          <h3 clas><a href="#"><span class="">Lawson</span> Arnold</a></h3>
          <span class="d-block position">CEO, Founder, Atty.</span>
          <p>Separated they live in.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
        </div>

        <div class="team">
          <div class="pic">
            <img src="images/person_3-min.jpg" alt="Image" class="img-fluid">
          </div>
          <h3 clas><a href="#"><span class="">Patrik</span> White</a></h3>
          <span class="d-block position">CEO, Founder, Atty.</span>
          <p>Separated they live in.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
        </div>

        <div class="team">
          <div class="pic">
            <img src="images/person_4-min.jpg" alt="Image" class="img-fluid">
          </div>
          <h3 clas><a href="#"><span class="">Kathryn</span> Ryan</a></h3>
          <span class="d-block position">CEO, Founder, Atty.</span>
          <p>Separated they live in.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
        </div>

      </div>
    </div> <!-- /.container -->
  </div> <!-- /.untree_co-section -->

  
  <div class="section pt-0">
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-7 mx-auto text-center">
          <h2>Testimonials</h2>
          <div class="line my-3 mx-auto"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="main-slider owl-single owl-carousel">
            <div class="testimonial mx-auto">
              <figure class="img-wrap">
                <img src="images/person_2-min.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="name">Adam Aderson</h3>
              <blockquote>
                <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
            </div>

            <div class="testimonial mx-auto">
              <figure class="img-wrap">
                <img src="images/person_3-min.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="name">Lukas Devlin</h3>
              <blockquote>
                <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
            </div>

            <div class="testimonial mx-auto">
              <figure class="img-wrap">
                <img src="images/person_4-min.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="name">Kayla Bryant</h3>
              <blockquote>
                <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="custom-hero section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1>Let's Get Started</h1>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <p><a href="#" class="btn btn-primary">Get In Touch</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <script src="about/jquery-3.5.1.min.js"></script>
  <script src="about/jquery-migrate-3.0.0.min.js"></script>
  <script src="about/popper.min.js"></script>
  <script src="about/bootstrap.min.js"></script>
  <script src="about/owl.carousel.min.js"></script>
  <script src="about/aos.js"></script>
  <script src="about/imagesloaded.pkgd.js"></script>
  <script src="about/isotope.pkgd.min.js"></script>
  <script src="about/jquery.animateNumber.min.js"></script>
  <script src="about/jquery.stellar.min.js"></script>
  <script src="about/jarallax.min.js"></script>
  <script src="about/jarallax-element.min.js"></script>
  <script src="about/jquery.waypoints.min.js"></script>
  <script src="about/jquery.fancybox.min.js"></script>

  <script src="about/jquery.lettering.js"></script>


  <script src="about/TweenMax.min.js"></script>
  <script src="about/ScrollMagic.min.js"></script>
  <script src="about/scrollmagic.animation.gsap.min.js"></script>
  <script src="about/debug.addIndicators.min.js"></script>


  <script src="about/custom.js"></script>
	
	
	
	
	
	
	
	
	
	
	
</div>
</html>