<div th:fragment="footerFragment" class="footerContainer">

	<!-- footer CSS -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="about/bootstrap.min.css">
	<link rel="stylesheet" href="about/animate.min.css">
	<link rel="stylesheet" href="about/owl.carousel.min.css">
	<link rel="stylesheet" href="about/owl.theme.default.min.css">
	<link rel="stylesheet" href="font/icomoon/style.css">
	<link rel="stylesheet" href="font/feather/style.css">
	<link rel="stylesheet" href="font/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="about/jquery.fancybox.min.css">
	<link rel="stylesheet" href="about/aos.css">
	<link rel="stylesheet" href="about/style.css">
	<link rel="stylesheet" href="footer.css">

	<!-- footer [사이트 하단 레이아웃] -->
	<div class="site-footer" id="footera">
		<div class="footerContainer">
			<div class="row justify-content-between">
				<div class="col-lg-4" id="footerLeft">
					<div class="widget">
						<h3>About</h3>
						<p>Your Ultimate Guide to Food Streets Across the Country !<br>We
							provide a comprehensive service that integrates nationwide data<br>to
							offer you detailed information on every food street. Please enjoy!</p>
					</div>
					<div class="widget">
						<h3>Contact us</h3>
						<!-- 여기다가 깃헙 리포지터리 넣기 -->
						<ul class="social list-unstyled">
							<li><a
								href="https://github.com/weseonggu/meoggolgol-project"><span
									class="icon-github"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6" id="footerRight">
					<div class="row">
						<div class="col-12">
							<div class="widget">
								<h3>Navigations</h3>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-md-4">
							<div class="widget">
								<ul class="links list-unstyled">
									<li><a href="/">Home</a></li>
									<li><a href="/about">About Us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-md-4">
							<div class="widget">
								<ul class="links list-unstyled">
									<li><a href="/notice">Notice</a></li>
									<li><a href="#">Guide</a></li>
								</ul>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-md-4">
							<div class="widget">
								<ul class="links list-unstyled">
									<li><a href="/qna">Q&A</a></li>
									<li><a href="#">Rank</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12">
							<div class="widget">
								<h3>Locations</h3>
								<p># 솔데스크 종로 본원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15, Jong-ro 12-gil, Jongno-gu, Seoul, Republic of Korea</p>
								<p># 솔데스크 강남 분원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;119, Bongeunsa-ro, Gangnam-gu, Seoul, Republic of Korea</p>
								<p># 솔데스크 강남 스튜디오&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16, Gangnam-daero 98-gil, Gangnam-gu, Seoul, Republic of Korea</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center text-center copyright">
				<div class="col-md-8">
					<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with creativity by <a href="/">Meoggolgol</a></p>
				</div>
			</div>
		</div>
	</div>

</div>