<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<div class="input-group">
           <input type="text" id="search_kw" class="form-control" th:value="${kw}">
           <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    <thead>
        <tr>
            <th>먹자골목 이름</th>
            <th>장소</th>
        </tr> 
    </thead>
    <tbody>
    	<tr th:each="mgglist : ${requestMgg}">
            <td th:text="${mgglist.FCLTY_NM}"></td>
            <td th:text="${mgglist.SIGNGU_CD}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>