<html layout:decorate="~{layout}">

<script th:src="@{/d3.min.js.aa}"></script>
<div layout:fragment="content" class="parent" id="MainPageContainer">
	<div id="banner">
		<img id="banner" src="banner4.png">
	</div>
	<br>

	<!-- div 태그 안 class 이름들은 정렬을 위해서 만든 것들 -->
	<div class="parentInner">
		<div class="parentContent" id="SelectBox">
			<!-- 지도 -->
			<div class="child" id="MapContainer"></div>
			<!-- 시군구 리스트 -->
			<div  class="child" id ="sigunguList">
				<p>시군구를 선택하세요</p>
				<div id= "sigungutableParent">
					<div id="sigunguTable">
					</div>
				</div>
			</div>
		</div>
		<!-- 시군구에 있는 머작 골목 리스트 -->
 		<div id="mggList">
			<h2>먹자 골목 리스트</h2>
			<div id="meoggolgolTable">
			</div>

		</div>
	</div>
</div>
</html>