<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="NoticeContainer">
<div class="container my-3">
	<!-- 임시로 만든 공지사항 등록하기 버튼 -->
	<a th:href="@{/uploadnotice}" class="btn btn-primary">등록하기</a>
    <table class="table" id="noticeList">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>	
        <tbody>
            <tr th:each="notice : ${noticelist}">
                <td th:text="${notice.notice_num}"></td>
                <td>
                    <a th:href="@{'/notice/detail/' + ${notice.notice_num}}" th:text="${notice.title}"></a>
                </td>
                <td th:text="${notice.writer}"></td>
                <td th:text="${notice.reg_date}"></td>
            </tr>
        </tbody>
    </table>
</div>
</html>