<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/restaurant-detail.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aa8ed2785db0138dc7d9bdb1f5756790"></script>
    <script type="text/javascript" th:src="@{/restaurant-detail.js}"></script>
    <!-- 리뷰 별점 CSS-->
	<link rel="stylesheet" th:href="@{/star.css}"/>
    
</head>
<body>
    <div layout:fragment="content">
    
	<form th:action="@{/restaurant-detail}" th:object="${reviewRequest}">
        
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
	
        <div class="mggInfoBox">
            <div class="selectMgg" id="mggRestaurant" style="width:500px;height:500px;"></div>
        </div>
		<hr>
		<div id="mggInfoabc" class="mggDetailInfos"></div>
		
		<table id="mggInfo">
			<thead id="menuHead" class="table-dark"></thead>
			<tbody id="menuBody"></tbody>
		</table>
		
		<!-- 리뷰 등록폼 -->
		<div class="mggInfoBox mb-3" name="reviewBox" id="reviewBox" >
		
			<!-- 리뷰 별점 -->
			<div id="reviewScore">
				<fieldset>
					<span class="text-bold">별점을 선택해주세요</span>
					<!-- 1 점 -->
					<input type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
					<!-- 2 점 -->
					<input type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label> 
					<!-- 3 점 -->
					<input type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label> 		
					<!-- 4 점 -->
					<input type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
					<!-- 5 점 -->
					<input type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
				</fieldset>
			</div>
			
			<!-- 리뷰 상세 작성 -->
			<div id="reviewDetail">
				<div>
					<!-- ToastUiEditor -->  
        			<div id="editor"></div>
        			
        			<!-- 에디터 내용을 받을 태그-->
    				<textarea id="reviewContent" name="content" style="display: none;"></textarea>
    				
        			<!-- TOAST UI Editor 생성 JS code -->
    				<script>
    					// URL에서 매개변수 추출
    					const urlParams = new URLSearchParams(window.location.search);
    				  	const lo = urlParams.get('lo')
    				  	const la = urlParams.get('la')
    				  	const imgUrl = urlParams.get('imgUrl')
    				  	const placeUrl = urlParams.get('placeUrl')
    				  	const placeName = urlParams.get('placeName');
    				  	const encodedPlaceName = encodeURI(placeName);
    				  	const roadAddress = urlParams.get('roadAddress');
    				  	const encodedRoadAddress = encodeURI(roadAddress);
    				  	const mggname = urlParams.get('mggname');
    				  	const encodedmggname = encodeURI(mggname);

        				const editor = new toastui.Editor({
           					el: document.querySelector('#editor'),
           					toolbarItems: [
        					    ['heading', 'bold', 'italic', 'strike'],
        					    ['hr'],
        					    ['ul', 'ol'],
        					    ['table', 'link']
        					],
           					initialEditType: 'markdown',
            				previewStyle: 'vertical',
            				previewHighlight: false,
            				height: '350px',
            				initialValue: ''
        				});
        				editor.getMarkdown(); 
        				
            			// 등록 버튼 클릭 시 컨트롤러로 마크다운 형식으로 리뷰 데이터 전송
            			document.addEventListener('DOMContentLoaded', function() {
          				  	var formSubmitBtn = document.querySelector('#submitBtn');
            		        if (formSubmitBtn) {
            		        	formSubmitBtn.addEventListener('click', function(e) {
            		        		e.preventDefault(); // 폼 전송 방지
            		              	var reviewContentHtml = editor.getMarkdown();

            		             	// 리뷰 별점 & 상세 내용 유효성 검사 (별점 아직 안 넣음)
            		                const content = reviewContentHtml.trim();
    								
            		                // 상세 내용이 빈 칸일 경우 <p><br></p> 값으로 넘어감
            		                if (content === '<p><br></p>') {
            		                    // 제목과 내용이 모두 비어 있는 경우 경고창 표시
            		                    alert('제목과 내용을 입력해주세요.');
            		                } else {
            		                	const selectedRating = parseInt(document.querySelector('input[name="reviewStar"]:checked').value);

                    					console.log('경도:', lo);
                    					console.log('위도:', la);
                    					console.log('imgUrl:', imgUrl);
                    					console.log('placeUrl:', placeUrl);
                    					console.log('식당 이름:', placeName);
                    					console.log('식당 이름2:', encodedPlaceName);
                    					console.log('roadAddress:', roadAddress);
                    					console.log('골목 이름:', mggname);
                				      	console.log('리뷰 별점:', selectedRating);
                    					console.log('리뷰 글:', content);

                				      	const reviewRequest = {
                				      		mggname: mggname,
                				      		placeName: placeName, 
                				        	score: selectedRating,
                				        	content: content
                				      	};
                				    
            		              	$.ajax({
            		              		url: '/restaurant-detail/review',
                					  	method: 'POST',
                					  	data: JSON.stringify(reviewRequest),
                		              	contentType: 'application/json',
                					  
                					  	// 성공했을 경우
                					  	success: function(response) {
                							//성공 콘솔 출력
                					    	console.log('공지사항 등록 성공');
                					    	console.log(response);
                					    	// 성공 후 폼 제출
                					    	// document.querySelector('form').submit();
                							window.location.href = '/restaurant-detail' + '?lo=' + lo + '&la=' + la + '&imgUrl=' + imgUrl + '&placeUrl=' + placeUrl + '&placeName=' + encodedPlaceName + '&roadAddress=' + encodedRoadAddress + 'mggname' + encodedmggname;
                					  	},
                					  	// 실패했을 경우
                					  	error: function(error) {
                						  	// 실패 콘솔 출력
                						  	console.error('공지사항 등록 실패:', error);
                						  	window.location.href = '/restaurant-detail' + '?lo=' + lo + '&la=' + la + '&imgUrl=' + imgUrl + '&placeUrl=' + placeUrl + '&placeName=' + encodedPlaceName + '&roadAddress=' + encodedRoadAddress + 'mggname' + encodedmggname;
                					  	}
                					});
            		                }
            		              });
            		          }
            		    });
        			</script>

				</div>
			</div>
		</div>
				<!-- 등록하기 버튼 -->
        		<input type="submit" class="btn btn-primary" id="submitBtn" value="등록하기" />
	</form>
			
		</div>
	</form>
			<table class="table" id="noticeList">
        <thead class="table-dark">
            <tr>
                <th>작성자</th>
                <th>별점</th>
                <th>리뷰 내용</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="review : ${review}">
                <td th:text="${review.rr_writer}"></td>
                <td th:text="${review.rr_score}"></td>
                <td th:text="${review.rr_review}"></td>
            </tr>
        </tbody>
    	</table>
	</div>
</body>
</html>