<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/restaurant-detail.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aa8ed2785db0138dc7d9bdb1f5756790"></script>
    <script type="text/javascript" th:src="@{/restaurant-detail.js}"></script>
    
    <!-- 리뷰 -->
	<link rel="stylesheet" th:href="@{/star.css}"/>
    
</head>
<body>
    <div layout:fragment="content">
    
	<form th:action="@{/restaurant-detail}" th:object="${reviewRequest}" method="POST">
        
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
	
        <div class="mggInfoBox">
            <div class="selectMgg" id="mggRestaurant" style="width:500px;height:500px;"></div>
        </div>
		<hr>
		<div id="mggInfo" class="mggDetailInfos">
			<h3 th:text="${placeName}"></h3>
			<a th:href="${MapURL}">
				<img class="findMapURL" src="find1.png">
			</a>
			<div th:text="${operation}"></div>
			<div th:text="${businessHours}"></div>
			<div th:text="${locationDetail}"></div>
			<div th:text="${facilityInfo}"></div>
		</div>
		
		<table id="mggInfo">
			<thead class="table-dark">
				<tr>
					<th>메뉴명</th>
					<th>가격</th>
				</tr>
			</thead>
			<tbody>
				<tr th:Each="menu : ${menu}">
					<td th:text="${menu.name}"></td>
					<td th:text="${menu.price}"></td>
				</tr>
			</tbody>
		</table>
		
		<!-- 리뷰 등록폼 -->
		<div class="mggInfoBox mb-3" name="reviewBox" id="reviewBox" >
		
			<!-- 리뷰 별점 -->
			<div id="reviewScore">
				<fieldset>
					<span class="text-bold">별점을 선택해주세요</span>
			
					<!-- 1 점 -->
					<input type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
					<!-- 2 점 -->
					<input type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label> 
					<!-- 3 점 -->
					<input type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label> 		
					<!-- 4 점 -->
					<input type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
					<!-- 5 점 -->
					<input type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
				</fieldset>
			</div>
			
			<!-- 리뷰 상세 작성 -->
			<div id="reviewDetail">
				<div>
					<!-- ToastUiEditor -->  
        			<div id="editor"></div>
        			<!-- TOAST UI Editor 생성 JS code -->
    				<script>
        				const editor = new toastui.Editor({
           					el: document.querySelector('#editor'),
           					toolbarItems: [
        					    ['heading', 'bold', 'italic', 'strike'],
        					    ['hr'],
        					    ['ul', 'ol'],
        					    ['table', 'link']
        					],
           					initialEditType: 'markdown',
            				previewStyle: 'vertical',
            				previewHighlight: false,
            				height: '350px',
            				initialValue: '작성 내용은 매장 주를 포함한 모든 사용자들이 볼 수 있으니, 서로를 배려하는 마음을 담아 작성해 주세요.'
        				});
        				editor.getMarkdown(); 
            			
            			// 등록 버튼 클릭 시 컨트롤러로 HTML 형식으로 공지사항 내용 전송
            			document.addEventListener('DOMContentLoaded', function() {
            		          var formSubmitBtn = document.querySelector('#submitBtn');
            		          if (formSubmitBtn) {
            		        	  formSubmitBtn.addEventListener('click', function(e) {
            		              	e.preventDefault(); // 폼 전송 방지
            		              	var reviewContentHtml = editor.getMarkdown();

            		             	//상세 내용 유효성 검사
            		               
            		                var content = reviewContentHtml.trim();
    								
            		                // 상세 내용이 빈 칸일 경우 <p><br></p> 값으로 넘어감
            		                if (content === '<p><br></p>') {
            		                    // 내용이 비어 있는 경우 경고창 표시
            		                    alert('상세 내용을 입력해 주세요.');
            		                } else {
            		                    // NoticeRequest 객체 생성 + 필드 값 설정
            		                    var ReviewRequest = {content: content};

            		              	$.ajax({
            		              		url: '/restaurant-detail/review',
                					  	method: 'POST',
                					  	data: JSON.stringify(ReviewRequest),
                		              	contentType: 'application/json',
                					  
                					  	// 성공했을 경우
                					  	success: function(response) {
                							//성공 콘솔 출력
                					    	console.log('공지사항 등록 성공');
                					    	// 성공 후 폼 제출
                					    	document.querySelector('form').submit();
                							window.location.href = '/restaurant-detail';
                					  	},
                					  	// 실패했을 경우
                					  	error: function(error) {
                						  	// 실패 콘솔 출력
                						  	console.error('공지사항 등록 실패:', error);
                						  	window.location.href = '/';
                					  	}
                					});
            		                }
            		              });
            		          }
            		    });
        			</script>

				</div>
				<!-- 등록하기 버튼 -->
        		<button type="submitBtn" class="btn btn-primary">등록하기</button>
			</div>
			
			<table class="table" id="noticeList">
        <thead class="table-dark">
            <tr>
                <th>먹자골목이름</th>
                <th>음식점이름</th>
                <th>별점</th>
                <th>리뷰</th>
                <th>작성자</th>
            </tr>
        </thead>	
        <tbody>
            <tr th:each="review : ${review}">
                <td th:text="${review.rr_mggname}"></td>
                <td th:text="${review.rr_restaurantname}"></td>
                <td th:text="${review.rr_score}"></td>
                <td th:text="${review.rr_review}"></td>
                <td th:text="${review.rr_writer}"></td>
            </tr>
        </tbody>
    </table>
		</div>
	</form>
    </div>
</body>
</html>