<html layout:decorate="~{layout}">
    <div layout:fragment="content" id="SignInPageContainer">
        <form th:action="@{/signin}" th:object="${membersignin}" method="POST">
			<!-- 입력 정보 오류 -->
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="signInBox">
                <label for="userid" class="form-label">ID</label> 
                <input type="text" id="member_id" name="member_id">
            </div>

            <div class="signInBox">
                <label for="password" class="form-label">PW</label>
                <input type="password" id="member_pw" name="member_pw">
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</html>
