<html layout:decorate="~{layout}">
<div layout:fragment="content" class="parent" id="BannerContainer">

<link rel="stylesheet" href="guide.css">


	<p id="mggGuide">먹골골 이용 가이드</p>
	
	<div class="guideContainer">
	
		<div class="guideStepContainer1" id="step1">
			<div><img alt="logo" src="/step1.png" id="stepImg1"></div>
			<div class=text>메인페이지로 이동<br>지도에서 원하시는 지역을 클릭해주세요.</div>
		</div>
		
		<div class="guideStepContainer2" id="step2">
			<div><img alt="logo" src="/step2.png" id="stepImg2"></div>
			<div class=text>선택하신 지역의 세부 지역을 선택해주세요.</div>
		</div>
		
		<div class="guideStepContainer3" id="step3">
			<div><img alt="logo" src="/step3.png" id="stepImg3"></div>
			<div class=text>원하시는 지역의 먹자골목 리스트입니다.<br>등록된 리스트에서 먹자골목 선택해주세요.<br>
				 먹자골목을 선택하면 해당 먹자골목 상세페이지로 이동합니다.</div>
		</div>
		
		<div class="guideStepContainer4" id="step4">
			<div><img alt="logo" src="/step4.png" id="stepImg4"></div>
			<div class=text>선택하신 먹자골목의 맛집 리스트가 등장합니다<br>맛집 목록에서 원하시는 식당을 선택해 주세요<br>
				 맛집을 클릭하시면 맛집 운영 시간을 비롯한 기본적인 정보 및 메뉴 그리고 리뷰를 보실 수 있습니다</div>
		</div>
	</div>
	
	
	

</div>
</html>